CITIBIKE_API_URL=https://gbfs.citibikenyc.com/gbfs/en/station_status.json

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_STATION_STATUS_TOPIC=station-status

BRONZE_STATION_STATUS_PATH=s3a://bronze/station_status

SILVER_STATION_STATUS_PATH=s3a://silver/station_status
SILVER_STATION_CHECKPOINT_PATH=s3a://checkpoints/station_status

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=