__pycache__/
*.pyc
.venv/
.env
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.duckdb
*.parquet
.vscode/
.idea/
*test.py

# AIRFLOW SECTION
# Airflow logs
*logs/

# Airflow PID files
*.pid

# Airflow scheduler metadata
*.db
*airflow.cfg
*webserver_config.py